:root {

    --background: #F8F1E7;
    --aura--blue: #448D8B;
    --white: #FFFFFF;
    --black: #000000;
    --purple: #9560A8;
    --coral: #EA7486;
    --sage: #B5B99A;
    --dark--blue: #29406C;
    --light--blue: #8BB1B9;
    --khaki: #B9A89F;

}